<form class="simple_form new_idea" id="new_idea" action="/ideas" accept-charset="UTF-8" method="post">
    
<h1>New Idea</h1>

<%= simple_form_for @idea do |f| %>

  <%= f.input :description %>

  <%= f.input :author %>

  <%= f.button :submit %>

<% end %>